

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #ef5350;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    background-color: #333;
    border: 5px solid #ef5350;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#busca-container {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
}

#pokemon-busca {
    padding: 1rem;
    font-size: 1rem;
    flex-grow: 1;
    border: 2px solid #ef5350;
    border-radius: 4px 0 0 4px;
    outline: none;
    background-color: #f5f5f5;
    color: #333;
}

button {
    padding: 1rem;
    font-size: 1rem;
    background-color: #ef5350;
    color: white;
    border: 2px solid #ef5350;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, opacity 0.3s;
}

#pokemon-container h2 {
    margin: 0;
    font-size: 2rem;
    color: #ef5350;
    text-transform: capitalize;
}

#pokemon-container img {
    width: 150px;
    height: 150px;
    margin: 1rem 0;
    animation: bounce 1s ease infinite;
}

.pokemon-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-detalhes p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.pokemon-tipo {
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin: 0.2rem;
    text-transform: capitalize;
    color: white;
}

.pokemon-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-status p {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Cores dos Tipos de Pokémon ======================================================================================================================================================*/
.pokemon-tipo.normal { background-color: #A8A77A; }
.pokemon-tipo.fire { background-color: #EE8130; }
.pokemon-tipo.water { background-color: #6390F0; }
.pokemon-tipo.electric { background-color: #F7D02C; }
.pokemon-tipo.grass { background-color: #7AC74C; }
.pokemon-tipo.ice { background-color: #96D9D6; }
.pokemon-tipo.fighting { background-color: #C22E28; }
.pokemon-tipo.poison { background-color: #A33EA1; }
.pokemon-tipo.ground { background-color: #E2BF65; }
.pokemon-tipo.flying { background-color: #A98FF3; }
.pokemon-tipo.psychic { background-color: #F95587; }
.pokemon-tipo.bug { background-color: #A6B91A; }
.pokemon-tipo.rock { background-color: #B6A136; }
.pokemon-tipo.ghost { background-color: #735797; }
.pokemon-tipo.dragon { background-color: #6F35FC; }
.pokemon-tipo.dark { background-color: #705746; }
.pokemon-tipo.steel { background-color: #B7B7CE; }
.pokemon-tipo.fairy { background-color: #D685AD; }

/* Animações =======================================================================================================================================================================*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Responsividade ===================================================================================================================================================================*/
@media (max-width: 600px) {
    main {
        padding: 1rem;
        margin-top: 0;
    }
    
    #busca-container {
        flex-direction: column;
        align-items: stretch;
    }
    
    #pokemon-busca {
        margin-bottom: 0.5rem;
        border-radius: 4px;
    }
    
    button {
        border-radius: 4px;
    }
}
